version: '3.4'

networks:
  dockerapi-dev:
    driver: bridge 

services:
  dockerapi:
    image: dockerapi:latest
    depends_on:
      - "postgres_image"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:80"     
    environment:
      DB_CONNECTION_STRING: "host=postgres_image;port=5432;database=qualyteam;username=qualyteam;password=qualyteam"
    networks:
      - dockerapi-dev  
  
  postgres_image:
    image: postgres:latest
    ports:
      - "5432"
    restart: always
    volumes:
      - db_volume:/var/lib/postgresql/data
      - ./sqlscripts:/docker-entrypoint-initdb.d/
    environment:
      POSTGRES_USER: "qualyteam"
      POSTGRES_PASSWORD: "qualyteam"
      POSTGRES_DB: "qualyteam"
    networks:
      - dockerapi-dev
volumes:
  db_volume:
         